/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #f9f9f9;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #353535;
  --vt-c-black-soft: #5E5E5E;
  --vt-c-black-mute: #282828;


}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--vt-c-black);
  background: var(--vt-c-white);
  
  font-family:
    "Lato", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
